services:
  - type: static_site
    name: the-unlimited-landing
    env: node
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
